@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('../../public/fonts/DINNextLTPro-LightCondensed.eot');
  src: local('DIN Next LT Pro Light Condensed'),
    local('DINNextLTPro-LightCondensed'),
    url('../../public/fonts/DINNextLTPro-LightCondensed.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/DINNextLTPro-LightCondensed.woff2') format('opentype'),
    url('../../public/fonts/DINNextLTPro-LightCondensed.woff') format('opentype'),
    url('../../public/fonts/DINNextLTPro-LightCondensed.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('../../public/fonts/DINNextLTPro-MediumCond.eot');
  src: local('DIN Next LT Pro Medium Condensed'),
    local('DINNextLTPro-MediumCond'),
    url('../../public/fonts/DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'),
    url('../../public/fonts/DINNextLTPro-MediumCond.woff2') format('opentype'),
    url('../../public/fonts/DINNextLTPro-MediumCond.woff') format('opentype'),
    url('../../public/fonts/DINNextLTPro-MediumCond.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --YELLOW: #f9b303;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: justify;
}

.main-container {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  min-height: 172vh;
  height: max-content;
  display: flex;
  justify-content: start;
  position: relative;
  /* z-index: -2; */
}

.logo-background {
  top: 480px;
  width: 690px;
  height: 65%;
  position: absolute;
  opacity: 0.12;
  z-index: 1;
}

.img-logo-background {
  position: sticky;
  top: 0;
  left: 0;
}

.contact-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1.55rem;
}

.contact-list>li {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5em;
  width: 100%;
}

.contact-list li div:nth-child(2) {
  width: 95%;
}

.contact-list li:first-child div:nth-child(2) {
  width: max-content;
}

.main-container-mobile {
  display: none;
}